mixin socials
    .socials
        a.fab.fa-twitter.socials__link(
            href="/mock-address/change-me",
            target="_blank",
            rel="noopener noreferrer"
        )
        a.fab.fa-facebook-square.socials__link(
            href="/mock-address/change-me",
            target="_blank",
            rel="noopener noreferrer"
        )
        a.fab.fa-instagram.socials__link(
            href="/mock-address/change-me",
            target="_blank",
            rel="noopener noreferrer"
        )