extends ../../layouts/ui-kit.pug
block title
  title Toxin Hotel
  meta(name="description" content="Страницы сайта отеля")
  meta(name="keywords" content="сайт, верстка")

  if isProdEnv
    link(rel="stylesheet" href="styles/index.bundle.css")

block content
  - const pages = require('@pages/index/pages.json');

  nav.index
    each page in pages
      a.index__card(href=`./${page}.html`)
        h3.index__title=page
        img.index__image(
          src=require(`./img/${page}.jpg`).default,
          alt="page preview"
        )

  if !isProdEnv
    script(src="scripts/index.bundle.js")
