include ../input/input
include ../socials/socials

mixin footer-large(options)
    .footer-large
        .footer-large__container
            .footer-large__top
                .footer-large__main
                    img.footer-large__logo(src=require('../../assets/logo/logo.svg').default)
                    .footer-large__info=options.info
                .footer-large__menus
                    each menu in options.menus
                        nav.footer-large__menu
                            h3.footer-large__menu-title=menu.title
                            ul
                                each item in menu.items
                                    li.footer-large__menu-item
                                        a.footer-large__menu-link(href="#")=item
                .footer-large__subscription
                    h3.footer-large__sub-title=options.subscription.title
                    .footer-large__sub-info=options.subscription.info
                    .footer-large__sub-email
                        +input({placeholder: 'Email', size: 'medium', isSub: true})
        .footer-large__line
        .footer-large__container
            .footer-large__bottom
                .footer-large__copyright=options.copyright
                .footer-large__socials
                    +socials