include ../button/button
include ../field/field

mixin date-dropdown({ labels, isInline = false, placeholder = 'ДД.ММ.ГГГГ' })
  -
    const firstName = labels[0]
    const hasSecondField = labels.length > 1
    const secondName = hasSecondField && labels[1]
    const size = hasSecondField ? 'small' : 'medium'

    const fieldModifier = hasSecondField ? 'doubleField' : 'oneField'
    const dateDropdownClassName = `date-dropdown_${fieldModifier}`

    const calendarModifier = isInline ? 'inline' : 'default'
    const calendarClassName = `date-dropdown__calendar_${calendarModifier}`

  .date-dropdown.js-date-dropdown(class=dateDropdownClassName)
    .date-dropdown__calendar.js-date-dropdown__calendar(class=calendarClassName)
      .date-dropdown__submit.js-date-dropdown__submit
        +button({
          typeModifier: 'link',
          colorModifier: 'purple',
          value: 'применить'
        })

      .date-dropdown__clear.js-date-dropdown__clear
        +button({
          typeModifier: 'link',
          colorModifier: 'gray',
          value: 'очистить'
        })

    if !isInline
      +field({name: firstName, size })
        .date-dropdown__input-box.js-date-dropdown__input-box
          input.date-dropdown__input.js-date-dropdown__input(placeholder=placeholder readonly)
          i.date-dropdown__icon.material-icons expand_more

      if hasSecondField
        +field({name: secondName, size })
          .date-dropdown__input-box.js-date-dropdown__input-box
            input.date-dropdown__input.js-date-dropdown__input(placeholder=placeholder readonly)
            i.date-dropdown__icon.material-icons expand_more